language: node_js
node_js:
  - "node"
cache: yarn
script:
  - 'export BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)'
  - 'export BRANCH="$TRAVIS_PULL_REQUEST_SLUG#$BRANCH"'
  - 'echo "BRANCH=$BRANCH"'
  - 'if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then yarn appr; fi'
