name: Close stale issues

on:
  schedule:
    - cron: '0 0 * * *' # runs daily

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          days-before-issue-stale: 365
          days-before-issue-close: 0
          stale-issue-message: 'This issue has been automatically marked as stale because it has not had recent activity. It will be closed now.'
          close-issue-message: 'Closing due to inactivity for over a year.'
          only-issue-labels: ''
